.nav {
	scrollbar-color: transparent transparent;
}

.nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	overflow-y: hidden;
}

.nav::-webkit-scrollbar {
	width: 0;
}

.nav li {
	line-height: 1.4rem;
	position: center;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
	display: inline;
	text-align: center;
	white-space: nowrap;
	font-size: 0.75rem;
}

.selected {
	color: #f6f5e8;
	background: #f48b53;
	border-radius: 1rem;
	height: 1.4rem;
}
